/* Font Family
================================================== */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

/* Global Styles
================================================== */

html,
body {
    background-color: #fff;
    color: #643297;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 1.618;
    padding: 1rem 0;
    max-width: 100%;

}

/* Setup
================================================== */

.container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 15%;

    max-width: 800px;
    width: 100%;
}
.column {
    width: inherit;
}

/* Typography / Links
================================================== */

p {
    color: #643297;
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 0 2px;
}

a,
a:visited {
    color: #8cc3e6;
    outline: 0;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #bbdef5;
}
p a,
p a:visited {
    line-height: inherit;
}

/* Audio Player Styles
================================================== */


#plList li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 5px 0;
}

#plList li:hover {
    background-color: #d5bdec;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    padding: 6px 2px;

}

#plwrap {
    margin: 0 5%;
}

.plItem {
    position: relative;
    padding-top: 7px;
    margin-bottom: -10px;
}


.plTitle {
    display:block
    white-space: nowrap;
    width: 85%;
    font-family: 'Comfortaa', cursive;
    padding-right: 30px;
    padding-left: 15px;
    display: flex;

}

.plLength {
    padding-left: 21px;
    position: absolute;
    right: 21px;
    top: 0;
}

.plSel,
.plSel:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #643297;
    cursor: default !important;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 464px;
  height: 640px;
  border-radius: 5%;
  box-shadow: 10px 15px 20px rgb(0 0 0 / 55%);

}

.book-and-toc {
    display: flex;
    padding-top: 2%;
}

.book-and-toc-mobile {
    display: inline-block;
}

.book-card .book-card__cover {
  position: relative;
  width: 333px;
  height: 500px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
}


.book {
    width:30%;
    display:center;
    margin-right: 200px;
}

.heading {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 30px;

}

pre {
    overflow: hidden;
}

.toc {
    width:100%;
    margin-right: 10%;
    height: 550px;
    overflow-y: scroll;
    }


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;

}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #643297;
  -webkit-box-shadow: 0 0 1px 643297
}



@media screen and (max-width : 1920px){
  .book-and-toc-mobile{
  visibility:hidden;
  }
}
@media screen and (max-width : 906px){
 .book-and-toc{
  visibility:hidden;
  }
 .book-and-toc-mobile{
  visibility:visible;
  }
}

.top {
    display: inline-block;
    width:inherit;
    margin-top: -30px;
;
}

.content-text{
    margin-top: 250px;
}

.book-info {
    width:70%;
}

.contents {
    padding-left: 10%;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;

    font-weight: 600;
    }

.author {
    padding-left: 10%;
}