* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% 10%;
}

.book-wrap {
    margin: 20px 0 20px 0;
}

.book-card .book-card__cover {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
}
.book-card .book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
  border-radius:5%;

}
.book-card .book-card__book-front {
  position: absolute;
  height: 100%;
}
.book-card .book-card__book-back {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(-40px);
}
.book-card .book-card__book-side {
  position: absolute;
  top: 5px;
  bottom: 2px;
  right: -29px;
  width: 40px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 0;
  transform: rotate3d(0, 1, 0, 90deg);
}
.book-card .book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  border-radius: 5%;

}
.book-card .book-card__title {
  font-size: 1.5em;
  margin-bottom: 8px;
}
.book-card .book-card__author {
  color: #757575;
  font-size: 1em;
}
.book-card:hover .book-card__book {
  transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
  border-radius: 0%;
}
.book-card:hover .book-card__book-back {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}
.book-card:hover .book-card__book-side {
  opacity: 1;
}
.book-card:hover .book-card__img {
  border-radius: 0%;
}


.next, .previous {
  background-color: #643297;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 1px 1px 5px #643297;
  font-family: 'Comfortaa', cursive;
  margin: 0 10%;

}

.pagination {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.showing-results-text {
    display: flex;
    justify-content: center;
    padding: 5% 0 0 0;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #643297;

}

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 5% 35%;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    padding: 150px 10% 5% 10%;
    border-radius: 10px;
    z-index: 10;
    width: 100px;
    height: 250px;
    background-color: #bb91eb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display:none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.lds-dual-ring {
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 5% 35%;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #643297;
    border-radius: 15%;
    z-index: 10;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 6%;
    left: 0;
    right: 0;
    margin: auto;

}


.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.loading-mobile{
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 5% 35%;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    padding: 100px 10% 5% 10%;
    border-radius: 15%;
    z-index: 10;
    width: 150px;
    height: 200px;
    background-color: #bb91eb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (max-width : 1920px){
  .loading-mobile{
  visibility:hidden;
  }
}
@media screen and (max-width : 906px){
 .loading{
  visibility:hidden;
  }
 .loading-mobile{
  visibility:visible;
  }
}

#page-number {
    font-family: 'Comfortaa', cursive;
    color: #643297;
    margin: 10px;
    font-weight: bold;
}