<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookaudifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' rel='stylesheet'>
    <link href="{%  static  'css/index.css'  %}" rel="stylesheet">
    <link href="{%  static  'search/style.css'  %}" rel="stylesheet">
    <link href="{%  static  'audiobook/style.css'  %}" rel="stylesheet">
    <link href="{%  static  'audioplayer/style.css'  %}" rel="stylesheet">

</head>

<body>
<div class="top">
    <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid" style="padding-left:2.5%; padding-right:2.5%;">
                <a class="navbar-brand" href="#">
                    <img alt="bookaudifier" height="60px" src="{% static 'logo_image.png' %}">
                </a>
                <button class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-center active" href="#">Home</a>
                        <a class="nav-item nav-link text-center" href="#">Dashboard</a>
                        <a class="nav-item nav-link text-center" href="#">My Bookshelf</a>
                        <!--                    <a class="nav-item nav-link text-center" href="#">Genres</a>-->
                    </div>
                    <div class="navbar-nav ms-auto">
                        <button class="login rounded-pill">Login</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!--div for book and TOC-->
    <div class="book-and-toc">
        <div class="book">
            <div class="container-fluid justify-content-center mb-4">
                <div class="row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
                    <div>
                        <div class="col mt-4">
                            <div class="book-card">
                                <div class="book-card__cover">
                                    <div class="book-card__book">
                                        <div class="book-card__book-front">
                                            <img class="book-card__img"
                                                 src="{{cover_pic_link}}">
                                        </div>
                                        <div class="book-card__book-back"></div>
                                        <div class="book-card__book-side"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-info">
            <div class="heading">
                <div style="font-family: 'Comfortaa', cursive;
                            font-weight: 900;
                            font-size: 30px;">
                    {{book_title}}
                </div>
                <div class="author">
                    {{book_author}}
                </div>
                <div class="total-reading-time">
                    {{ total_reading_time }}
                </div>
            </div>

            <div class="contents">
                Table of contents
            </div>
            <div class="toc">
                <div id="plwrap">
                    <ul id="plList">
                        {% for content in toc %}
                        <li onclick="changeReadingText(this)" id="list-{{ forloop.counter }}">
                            <div class="plItem">
                                <div class="plTitle">
                                    <pre>{{ content.level }}</pre>
                                    <div>
                                        <img alt="play" height="17px" src="{% static 'logo_image.png' %}">
                                    </div>
                                    <pre> </pre>
                                    {{ content.title }}
                                </div>
                                <div id="content" style="display:None;">
                                    <pre> {{ content.content }} </pre>
                                </div>
                                <div class="plLength"> {{ content.read_time }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 10rem;"></div>
    <form>
        <div id="mastertext" style="display: none;"> {{toc.0.content}}
        </div>
        <div id="textarea" style="display: none;">
            <textarea id="texttospeak"></textarea>
            <div id="textbeingspoken"></div>
        </div>
    </form>
<!--    <div id="marker"></div>-->
    <div class='audioplayer'>
        <div class="seekbar">
            <input type="range"/>
            <div class="seekbar-progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"
                     style="width: 0%;"></div>
            </div>
        </div>
        <div class='controls container-fluid'>
            <a>
                <select class="voice-properties" id="voice"></select>
            </a>
            <img alt="back" class="backward" height="20%" id="backward-btn" src="{% static 'assets/back-button.png' %}">
            <img alt="play" class="play" height="45%" id="play-btn" src="{% static 'assets/play-button.png' %}">
            <img alt="pause" class="pause inactive" height="45%" id="pause-btn" src="{% static 'assets/pause-button.png' %}">
            <img alt="next" class="forward" height="20%" id="forward-btn" src="{% static 'assets/next-button.png' %}">
            <a>
                <select class="rate-properties" id="rate">
                    <option value="3">3.0x</option>
                    <option value="2.75">2.75x</option>
                    <option value="2.5">2.5x</option>
                    <option value="2">2.0x</option>
                    <option value="1.75">1.75x</option>
                    <option value="1.5">1.5x</option>
                    <option value="1.25">1.25x</option>
                    <option selected value="1">1.0x</option>
                </select>
            </a>
        </div>
    </div>
</div>
<script src="{%  static  'audioplayer/script.js'  %}"></script>
</div>

</body>
</html>

