{% extends "base.html" %} {% block content %} {% load static %}

<main class="w-screen flex flex-col items-center text-center pt-24">
  <div class="hero w-full flex flex-col items-center">
    <img
      class="h-10"
      src="https://cdn.discordapp.com/attachments/765973145852575746/925696891600117780/unknown.png"
      alt=""
    />
    <div class="md:text-6xl text-4xl font-bold tracking-widest text-gray-900">
      LET THE
      <span class="text-stroke">
        <span style="z-index: -1" class="relative">
          BOOKS
          <span class="absolute left-0 bottom-0 w-full">
            <img src="{%  static  'underline.svg'  %}" draggable="false" />
          </span>
        </span>
        SPEAK
      </span>
    </div>
    <div
      style="max-width: 800px"
      class="w-full text-subtitle text-xl font-medium text-center mt-8"
    >
      Listen to thousands of best sellers and new releases on your iPhone, iPad,
      or Android. Get any audiobook FREE during your Free Trial
    </div>
  </div>
  <form
    class="md:w-6/12 w-10/12 md:scale-150 mt-8"
    action="search"
    method="POST"
  >
    {% csrf_token %} {% comment %} <Searchbar /> {% endcomment %}
    <div
      class="h-10 flex items-center text-subtitle bg-white rounded-full px-4 shadow-lg hover:shadow-sm w-full grow"
    >
      <input
        class="focus:outline-0 grow"
        name="search"
        placeholder="e.g. The Subtle Art of Not Giving a F*ck........"
        type="text"
      />
      <i class="fas fa-search text-subtitle"></i>
    </div>
  </form>
  <div
    class="overflow-scroll w-screen flex space-x-8 justify-center items-center mt-8 mb-16 py-8 shrink-0"
    vertical="false"
  >
  {% for i in books %}
  <div
      class="cursor-pointer w-52 h-72 hover:scale-105 overflow-hidden rounded-md book-shadow flex items-center justify-center bg-blue-500 shrink-0"
    >
      <img class="h-full" src={{i.imgSrc}} alt="" />
    </div>
{% endfor %}
    {% comment %} {books.map((book, ind) => (
    <div
      key="{ind}"
      class="cursor-pointer w-52 h-72 hover:scale-105 overflow-hidden rounded-md book-shadow flex items-center justify-center bg-blue-500 shrink-0"
    >
      <img class="h-full" src="{book.imgSrc}" alt="" />
    </div>
    ))} {% endcomment %}
  </div>
</main>

{% endblock %}
