{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.overlay {
position: fixed; /* Sit on top of the page content */
display:none;
width: 100%; /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); /* Black background with opacity */
z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
cursor: pointer; /* Add a pointer on hover */
}


</style>
<div class="d-flex justify-content-center logo-name">
    <img alt="bookaudifier" height="30px" src="{% static 'logo_name.png' %}">
</div>

<div class="d-flex justify-content-center">
    <h1 class="tagline"> READING IS HARD, LISTENING IS EASY!</h1>
</div>

<div class="d-flex justify-content-center" style="display: flex; flex-direction: column;">
    <h5 class="sub-heading" style="MARGIN-BOTTOM: 0rem;"> Turn any book into an Audiobook using AI. Even generate audiobook summary for
        free.</h5>
    <h5 class="sub-heading"> Search from a vast library of <span style="color:#643297;">75 million books!</span> </h5>
</div>
<div class="container">
    <form action="search" method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" name="search" placeholder="e.g. Sapiens...."
                       type="text">
                <a class="search_icon"><i class="fas fa-search"></i></a>
                </input>
            </div>
        </div>
    </form>
</div>

<main>
    <div>
        <div class="container-fluid justify-content-center mb-6">
            <div class="row justify-content-center row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
                {% if books_data %}
                {% for data in books_data %}
                <form action="{% url 'generate_audiobook' %}" class="book-wrap" id='{{data.book_id}}'
                      method="GET">
                    {% csrf_token %}
                    <input name="book" type="hidden" value={{data.pdf_link}}>
                    <div onclick="generateAudiobook({{data.book_id}});" style="cursor: pointer">
                        <div class="col mt-4">
                            <div class="book-card">
                                <div class="book-card__cover">
                                    <div class="book-card__book">
                                        <div class="book-card__book-front">
                                            <img class="book-card__img" src="{{data.img_link}}">
                                        </div>
                                        <div class="book-card__book-back"></div>
                                        <div class="book-card__book-side"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
<!--overlay-->
<div class="overlay">
    <div class="loading">Generating Audiobook</div>
    <div class="loading-mobile">Generating Audiobook</div>
    <div class="lds-dual-ring"></div>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="{%  static  'audioplayer_assets/script.js'  %}"></script>
<script>
function generateAudiobook(query) {
    document.getElementById(query).submit();
    document.querySelectorAll('.overlay')[0].style.display ="flex"
}

</script>
{% endblock %}
