<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookaudifier</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link href="{%  static  'playlist/style.css'  %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link href="{%  static  'speech_synthesizer/style.css'  %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' rel='stylesheet'>
    <link href="{%  static  'css/index.css'  %}" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->

<div class="container">
    <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid" style="padding-left:2.5%; padding-right:2.5%;">
                <a class="navbar-brand" href="#">
                    <img alt="bookaudifier" height="60px" src="{% static 'logo_image.png' %}">
                </a>
                <button class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-center active" href="#">Home</a>
                        <a class="nav-item nav-link text-center" href="#">Dashboard</a>
                        <a class="nav-item nav-link text-center" href="#">My Bookshelf</a>
                        <!--                    <a class="nav-item nav-link text-center" href="#">Genres</a>-->
                    </div>
                    <div class="navbar-nav ms-auto">
                        <button class="login rounded-pill">Login</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="column add-bottom">
        <div id="mainwrap">
            <div class="cover-playlist">
                <div>
                    <img alt="{{cover_pic_link}}" class="center" src="{{cover_pic_link}}">
                </div>
                <div id="plwrap">
                    <ul id="plList">
                        <li>
                            <div class="plItem">
                                <div class="plTitle">
                                    <pre>  <b>	{{book_title}} </b>	  </pre>
                                </div>
                                <div class="plLength"> {{ total_reading_time }}</div>
                            </div>
                        </li>

                        {% for content in toc %}
                        <li onclick="changeReadingText(this)">
                            <div class="plItem">
                                <div class="plTitle">
                                    <pre> {{ content.level }} ▶️ {{ content.title }} </pre>
                                </div>
                                <div id="content" style="display:None;">
                                    <pre> {{ content.content }} </pre>
                                </div>
                                <div class="plLength"> {{ content.read_time }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="wrapper">
                <div id="col">
                    <div id="controls">
                        <h3>bookaudifier</h3><br/>
                        <div class="cbox">
                            <div class="row">
                                <span>Voice:</span>

                            </div>
                            <select id="voiceSelect"></select>
                        </div>
                        <div class="cbox">
                            <div class="row">
                                <span>Volume:</span>

                            </div>
                            <input id="volumeSlider" max="1" min="0" step="0.01" type="range" value="1">
                        </div>
                        <div class="cbox">
                            <div class="row">
                                <span>Rate:</span>
                            </div>
                            <input id="rateSlider" max="5" min="0" step="0.1" type="range" value="1">
                        </div>
                    </div>
                    <div contenteditable="true" id="text">
                        <!--                        {{toc.2.content}}-->
                        hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello
                        Vishal is my name.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="app-cover">
    <div id="player">
        <div class="active" id="player-track">
            <div id="album-name"></div>
            <div id="track-name"></div>
            <div id="track-time">
                <div id="current-time"></div>
                <div id="track-length"></div>
            </div>
            <div id="s-area">
                <div id="ins-time"></div>
                <div id="s-hover"></div>
                <div id="seek-bar"></div>
            </div>
        </div>
        <div class='flex-container' id="player-content">
            <div id="album-art">
                <img class="" id="album-art-image"
                     src="{{cover_pic_link}}">
            </div>
            <div id="player-controls">
                <div class="control">
                    <div class="button" id="play-previous">
                        <i class="fas fa-backward"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" id="play-pause-button" onclick="play()">
                        <i class="fas fa-play" id="play-pause"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" id="play-next">
                        <i class="fas fa-forward"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/html5media/1.1.8/html5media.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.8/plyr.min.js'></script>
<script src="{%  static  'speech_synthesizer/script.js'  %}"></script>

</body>
</html>
