{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="container h-100">
        <form action="search" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" name="search"
                           placeholder="e.g. Sapiens........"
                           type="text">
                    <a class="search_icon button" href="#" type="submit"><i class="fas fa-search"></i></a>
                    </input>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="showing-results-text">
    Showing results for &nbsp <b> "{{ query }}"</b>
</div>
<div class="showing-results-text" style="
    padding-top: .5%;
    font-size: 1rem;">
    {{search_result_stats}}
</div>
<div class="overlay">
    <div class="loading">Generating Audiobook</div>
    <div class="loading-mobile">Generating Audiobook</div>
    <div class="lds-dual-ring"></div>
</div>

</div>

<main>
    <div>
        <div class="container-fluid justify-content-center mb-6">
            <div class="row justify-content-center row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
                {% if books_data %}
                {% for data in books_data %}
                <form action="{% url 'generate_audiobook' %}" class="book-wrap" id='{{data.book_id}}'
                      method="GET">
                    {% csrf_token %}
                    <input name="book" type="hidden" value={{data.pdf_link}}>
                    <div onclick="generateAudiobook({{data.book_id}});" style="cursor: pointer">
                        <div class="col mt-4">
                            <div class="book-card">
                                <div class="book-card__cover">
                                    <div class="book-card__book">
                                        <div class="book-card__book-front">
                                            <img class="book-card__img" src="{{data.img_link}}">
                                        </div>
                                        <div class="book-card__book-back"></div>
                                        <div class="book-card__book-side"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
<div class="pagination" id="page-block" value="1">
    <form class="pagination-form" method="POST" style="display: flex; justify-content: center;">
        {% csrf_token %}
        <button class="previous rounded-pill" id="prev-click" name="search"
                value="{{query}}&page="> prev
        </button>
        <p id="page-number">{{current_pg_no}}</p>
        <button class="next rounded-pill" id="next-click" name="search"
                value="{{query}}&page="> next
        </button>
    </form>
</div>
<script src="{%  static  'search/script.js'  %}"></script>
{% endblock %}
