* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;

}

#wrapper {
  box-sizing: border-box;
  height: 85%;
  display: flex;
  overflow: hidden;
}
#wrapper #col {
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
  box-shadow: 0px 0px 20px -7px black;
}
#wrapper #col #footer {
  width: 100%;
  height: 80px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666;
  box-sizing: border-box;
}
#wrapper #col #footer > * {
  padding: 20px;
}
#wrapper #col #footer > *:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
#wrapper #col #footer > *:nth-child(2) {
  background-color: silver;
  font-size: 80%;
}
#wrapper #col #footer a {
  color: green;
  text-decoration: none;
}
#wrapper #col #footer .tooltiptext {
  display: none;
}
#wrapper #col #footer a:hover .tooltiptext {
  position: absolute;
  transform: translateY(-125%);
  color: white;
  background-color: #27ae61;
  padding: 10px;
  border-radius: 5px;
  display: block;
  font-size: 80%;
}
#wrapper #col #footer .ttFix {
  transform: translateY(-155%) !important;
}
#wrapper #controls {
  padding: 20px;
}
#wrapper #controls .cbox {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
#wrapper #controls .cbox .row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
#wrapper #controls .cbox .row i:hover {
  color: #27ae61;
}
#wrapper #controls .cbox .row .tooltiptext {
  display: none;
}
#wrapper #controls .cbox .row i:hover .tooltiptext {
  position: absolute;
  color: white;
  background-color: #27ae61;
  padding: 10px;
  border-radius: 5px;
  display: block;
  font-size: 80%;
}
#wrapper #controls .cbox input {
  width: 100%;
}
#wrapper #controls button, #wrapper #controls select {
  width: 100%;
  margin-bottom: 10px;
}
#wrapper #text {
  flex: 3;
  padding: 20px;
  resize: none;
  overflow-y: scroll;
  padding-bottom: 500px;
}
#wrapper #text p {
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 20px;
}
@media (min-width: 901px) {
  #wrapper #text p {
    width: 50%;
  }
}
#wrapper #text span {
  transition: all 0.2s ease;
}
#wrapper #text span.active {
  color: black;
  display: inline-block;
  background-color: #76abeb;
  transform: scale(1);
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
#overlay #shareWrapper {
  max-width: 500px;
  background-color: #555;
  border-radius: 5px;
  padding: 15px;
}
#overlay #shareWrapper h4 {
  color: #27ae61;
  text-align: center;
  margin-bottom: 10px;
}
#overlay #shareWrapper input {
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 20px -10px black, 0px 0px 20px -10px white;
  padding: 10px;
  box-sizing: border-box;
}


.progress {
    width: 95%;
    border-radius: 30px;
    background-color: black;
    position: relative;
    border-radius: 15px;
    margin: 7.5% 0 0 10%;

}

*:focus
{
    outline: none;
}

#app-cover
{
    position: fixed;
    bottom: 0%;
    right: 0;
    left: 0;
    width: 100%;
    height: 15%;
    margin: auto;
}

#bg-artwork
{
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    z-index: 1;
}


#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    padding: 0px 22px 10px 184px;
    background-color: #ece9ff;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
    overflow: hidden;
    float: left;
    margin-top: 100px;
    padding-bottom: 30%;
    box-shadow: 1px 1px 20px 0px gray;
}

#player-track.active
{
    top: -92px;
}

#album-name
{
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 9px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #643297;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 10px;
    border-radius: 30px;
}

#s-area
{
    background-color:#d7cfd1;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
  display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #643297;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
/*    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;*/
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #d6bcf1;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

/*#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}*/

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls {
    width: 250px;
    height: 100%;
    margin: 0 5px 0 45%;
    float: revert;
    overflow: hidden;
}



.control
{
    width: 33.333%;
    float: left;
    padding: 15% 0;
}

.button
{
    width: 15px;
    height: 15px;
    padding: 25px;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #643297;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}


.button:hover i
{
    color: black;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #ae5f87;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(174, 95, 135, 0.86);
  z-index: 125;
}


.rotate {
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

}
